body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
  }



video {
    border-radius: 20px;
    border: white 9px solid;
    box-shadow: inset 32px 32px 33px 34px rgb(21, 255, 0);
display: block;
margin-left: auto;
margin-right: auto;
width: 54%;
margin-top: 6%;
margin-bottom: auto;
}
h1{
color: aliceblue;
text-align: center;
font-weight: 700;
font-size: 50px;

}


.head{
display: block;
margin-left: 30%;
margin-right: 40%;
margin-bottom: 2%;
}